[Unit]
Description=Flask Note API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/cmercer/github/note-api-server/server.py
WorkingDirectory=/home/cmercer/github/note-api-server
Restart=always
User=cmercer
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
